
.bottomDiv {
  width: 100%;
  height: 900px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: solid red 4px; */
  background: linear-gradient(to bottom, rgb(0, 191, 255), rgb(178, 255, 178));
  /* background-color: rgb(0, 119, 255) */
}
.shard {
  width: 6%;
  height: 55%;
  background-size: auto 50%;
  transform: skewY(-25deg);
  /* border: solid red 4px; */
  margin: .5rem;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  position: relative;
  background-image: url('../public/atelier-design.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  height: 90vh;
  width: 80vw;
}
.shard1 {
  height: 45%;
  /* background-position: 50% 10%; */
}
.shard2 {
  height: 60%;
  /* background-position: 50% 10%; */
}
.shard3 {
  height: 58%;
  /* background-position: 50% 30%; */
}
.shard4 {
  height: 75%;
  /* background-position: 50% 40%; */
}
.shard5 {
  height: 65%;
  /* background-position: 50% 50%; */
}
.shard6 {
  height: 58%;
  /* background-position: 50% 60%; */
}
.shard7 {
  height: 62%;
  /* background-position: 50% 70%; */
}
.shard8 {
  height: 45%;
  /* background-position: 50% 80%; */
}

.shard .img {
  position: absolute;
  transform: skewY(25deg);
}
#shard6img{
  background-position: 50% 60%;
}
.shard1 .img {
  background-position: 50% 10%;
}
.shard2 .img {
  background-position: 50% 20%;
}
.shard3 .img {
  background-position: 50% 30%;
}
.shard4 .img {
  background-position: 50% 40%;
}
.shard5 .img {
  background-position: 50% 50%;
}
.shard6 .img {
  background-position: 50% 60%;
}
.shard7 .img {
  background-position: 50% 70%;
}
.shard8 .img {
  background-position: 50% 80%;
}




