.main {
  box-sizing: border-box;
  /* border: solid red 4px; */
  width: 100%;
  height: 100vh;
  background: transparent;

}
#title{
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: .5rem;
  pointer-events: none;
  font-family: 'Future';
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  visibility: hidden;
}
.bottomDiv {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: transparent;
}
.shard {
  width: 6%;
  height: 55%;
  transform: skewY(-25deg);
  margin: .5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s ease-in-out;
  filter: hue-rotate(-12deg)
}
.shard:hover {
  transform: skewY(-25deg) scale(1.1);
}
.img {
  position: relative;
  background-image: url('../public/palms.jpg');
  background-size: 1200px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 0;
  height: 90vh;
  width: 80vw;
}
.shard1 {
  height: 45%;
}
.shard2 {
  height: 60%;
}
.shard3 {
  height: 58%;
}
.shard4 {
  height: 75%;
}
.shard5 {
  height: 65%;
}
.shard6 {
  height: 58%;
}
.shard7 {
  height: 62%;
}
.shard8 {
  height: 42%;
}
.shard .img {
  position: absolute;
  transform: skewY(25deg);
}
.shard1 .img {
  background-position: 25vw 30%;
}
.shard2 .img {
  background-position: 18.5vw 30%;
}
.shard3 .img {
  background-position: 12vw 30%;
}
.shard4 .img {
  background-position: 5.5vw 30%;
}
.shard5 .img {
  background-position: -1vw 30%;
}
.shard6 .img {
  background-position: -7.5vw 30%;
}
.shard7 .img {
  background-position: -14vw 30%
}
.shard8 .img {
  background-position: -20.5vw 30%;
}
@keyframes slideInUp {
  from {
      transform: translateY(100%); /* Start from below the viewport */
      visibility: hidden;
  }
  to {
      transform: translateY(0), skewY(-25deg);
      visibility: visible;
  }
}

@keyframes slideInDown {
  from {
      transform: translateY(-100%); /* Start from below the viewport */
      /* visibility: visible; */
  }
  to {
      transform: translateY(0), skewY(-25deg);
      visibility: visible;
  }
}
@keyframes fadeIn {
  from {
      opacity: 0%;
      visibility: hidden;
  }
  to {
      opacity: 1;
      visibility: visible;
  }
}

.shard1, .shard3, .shard5, .shard7 {
  animation-name: slideInUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  visibility:hidden;
}

.shard2, .shard4, .shard6, .shard8 {
  animation-name: slideInDown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  visibility:hidden;
}


@media(max-width: 768px) {
  #title{
    font-size: 10vw;
    top:0;
    left: 50%;
    transform: translate(-50%);
    margin-top: 1rem;
  }

  .bottomDiv {
    margin-top: 30vw;
    height: 40vh;
    background: transparent;
    justify-content: center;
    padding: 0;
  }
  .shard {
    width: 10%;
    transform: skewY(-25deg);
    margin: .25rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .shard1 .img {
    background-position: 25vw 50%;
  }
  .shard2 .img {
    background-position: 18.5vw 50%;
  }
  .shard3 .img {
    background-position: 12vw 50%;
  }
  .shard4 .img {
    background-position: 5.5vw 50%;
  }
  .shard5 .img {
    background-position: -1vw 50%;
  }
  .shard6 .img {
    background-position: -7.5vw 50%;
  }
  .shard7 .img {
    background-position: -14vw 50%
  }
  .shard8 .img {
    background-position: -20.5vw 50%;
  }
  .img {
    position: relative;
    transform: skewY(-25deg);
    background-size: 170%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding: 0;
    height: 90vh;
    width: 80vw;
  }
}
.loadingTitle {
  font-family: 'Future';
  margin-top: 50vh;
  /* border: solid blue 4px; */
}


